* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: red;
  padding: px;
  text-align: center;
  font-size: 34px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
  height:100%;
}

/* Middle column */
.column.middle {
  width: 50%;
  height:100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  height: 1000px;
  background-color:grey;
}

/* Style the footer */
.footer {
  background-color: #B00000;
  padding: 19px;
  text-align: center;
  height:100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
#image{
  height:100%;
  width:100%;
}

#deadpool{
  height:30%;
  width:30%;
  float: right;
}
body{
  background-color:#383838;
}
